.post{
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.postImage{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.postText{
    font-weight: normal;
    padding: 20px;
}

.postHeader{
    display: flex;
    align-items: center;
    padding: 20px;
}

.postAvatar{
    margin-right: 10px;
}

.postCommentBox{
    display: flex;
    margin-top: 10px;
}

.postInput{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.postButton{
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
}


.postComments{
    padding: 20px;
}

@media (max-width: 780px) {
    /* .post{
        width: 60vw;
    } */

    h3{
        font-size: 14px;
    }

    .postText, .postComments {
        font-size: 12px;
    }

}

@media (max-width: 300px) {
    /* .post{
        width: 60vw;
    } */

    h3 {
        font-size: 14px;
    }

    .postText,
    .postComments {
        font-size: 12px;
    }

}