.appHeader{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.appHeaderImage{
    object-fit: contain;
}

.app{
    background-color: #fafafa;
}

.appSignUp{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.appPosts{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.appPostsRight{
    margin-left: 20px;
}

@media (max-width: 780px) {
    .appHeaderImage{
        width: 50px;
        height: 30px;
    }

    .authButton{
        font-size: 10px !important;
    }

    .appPosts{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* .appPostsRight{
        display: none;
    } */
}

@media (max-width: 300px) {
    .appHeader{
        width: 100%;
    }

}